@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,800&family=Overpass&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #131519;
  color: white
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#starLogo {
  width: 45px;
  height: 45px;
  background-color: #252e38;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
}

#starLogo img{
  width: 20px;
}